/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

.centered { margin:0 auto;}


.padding_15_0 {
	padding:15px 0;
}

.border.top {
	border-top:1px solid #388202 ;
}

.border.left {
	border-left:1px solid #388202;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #388202; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #2D6229;
	text-decoration:none; }
a:visited { color: #2D6229; }
a:hover { 
	color: #3F9125;
 }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

.entry-title { 
	font-size:2.2em;
}

.entry-meta {
	
}

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


@font-face {
    font-family: 'fontin_sans_rgbold';
    src: url('../fonts/fontin_sans_b_45b.eot');
    src: url('../fonts/fontin_sans_b_45b.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontin_sans_b_45b.woff') format('woff'),
         url('../fonts/fontin_sans_b_45b.ttf') format('truetype'),
         url('../fonts/fontin_sans_b_45b.svg#fontin_sans_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*

@font-face {
    font-family: 'fontin_sans_rgbold_italic';
    src: url('../fonts/fontin_sans_bi_45b.eot');
    src: url('../fonts/fontin_sans_bi_45b.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontin_sans_bi_45b.woff') format('woff'),
         url('../fonts/fontin_sans_bi_45b.ttf') format('truetype'),
         url('../fonts/fontin_sans_bi_45b.svg#fontin_sans_rgbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'fontin_sans_rgitalic';
    src: url('../fonts/fontin_sans_i_45b.eot');
    src: url('../fonts/fontin_sans_i_45b.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontin_sans_i_45b.woff') format('woff'),
         url('../fonts/fontin_sans_i_45b.ttf') format('truetype'),
         url('../fonts/fontin_sans_i_45b.svg#fontin_sans_rgitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/



@font-face {
    font-family: 'fontin_sans_rgregular';
    src: url('../fonts/fontin_sans_r_45b.eot');
    src: url('../fonts/fontin_sans_r_45b.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontin_sans_r_45b.woff') format('woff'),
         url('../fonts/fontin_sans_r_45b.ttf') format('truetype'),
         url('../fonts/fontin_sans_r_45b.svg#fontin_sans_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.nav ul li {
	font-size:1.8em;
}

#features article h2 {
	font-size:2.8em;
	line-height: 1.2em;
	font-family:'fontin_sans_rgbold';
	margin-top:0;
}

.banner h3 {
	font-size:1.8em;
	color:#ffffff;
	margin:0;
	padding:10px;
}

article p {
/*	font-family:Verdana,sans-serif; */
	line-height:2em;
	font-size:90%;
	margin-bottom:1.7em;
}

article.overlay .description p {
	font-family:'fontin_sans_rgbold';
	font-size:1.5em;
	line-height:1em;
	color:#ffffff;
}

.widget-title {
	text-transform:uppercase;
	color:#bcbcbc;
}

.widget-container ul li a {
	font-size:90%;

}
	


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

ul.dots {
	list-style-type:none;
	padding:0;
	margin:0;
	text-align:center;
}

ul.dots li {
	display:inline;
	margin:15px;
	font-size:2em;
}

ul.dots li.selected a {
	color:#3F9125;
}

footer article {
	color:#999999;
}


#sidebar ul,
#sidebar ol {
	padding:0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

body {
	padding:9px 0;
    font-family: 'fontin_sans_rgregular';	
}

a.logo {
	display:block;
	width:284px;
	height:138px;
	text-indent:-9999px;
}

a.top.logo {
	
}

a.bottom.logo {
	background-position: 0 138px
}

a:hover {
	opacity:0.9;
}

.honey {
	background: #cccccc url('../images/honey_im_subtle.png') repeat scroll;
}

.wrapper {

	background-color:#fff;
	-webkit-box-shadow: 0px 4px 17px rgba(50, 50, 50, 0.51);
	-moz-box-shadow:    0px 4px 17px rgba(50, 50, 50, 0.51);
	box-shadow:         0px 4px 17px rgba(50, 50, 50, 0.51);
	padding:5px 30px;
}

section {
	height:100%;
}

header {
	border-bottom:1px solid #339900;
 	height: 100%;
 	display: block;
	margin-bottom:30px;
	
}

.category #content header,
#search header,
#archive header,
#category header,
#tag header,
#page header {
	border:none;
}

.flatlist {
	display:inline;
}

.flatlist li {
	display:inline-block;
	float:left;
	margin:5px;
}

.flatlist li a {

}

.flatlist li:before {
	content:" | ";
}
.navsearchsocial {
  margin-bottom:94px;
}
.social, .search.field {
	float:right;
	margin:5px 10px;
}

#features {
	overflow:hidden;
}

#features article {
	display:block;
	float:left;
	overflow:hidden;
	height:100%;
}

.caroufredsel_wrapper {

}

#sidebar {
	/* border-left:1px solid #388202; */
}

#sidebar .search.field,
#sidebar .search.field input {
	min-width:250px;
	max-width:250px;
	margin-bottom:20px;

}

h3.widget-title {
	margin:10px 0 2px 0;
}

.widget-area {
	padding:0 0 0 30px;
	margin-bottom:30px;
}

.widget-container ul {
	margin:0 0 30px 0;
}

.category .grid article {
	display:block;
	width:293px;
	height:293px;
}

.nav {
	clear:both;
  vertical-align: bottom;
  display: block;
  
}

.nav ul {
  float:right;
  margin:0;
}

.nav ul li {
	margin:0 15px;
  float: left;
}


.social ul {
	list-style-type:none;
	display:inline;
}

.social ul li {
	display:inline;

}

.social ul li a {
}

.social ul li a.facebook {

}

.social ul li a.twitter {

}


.nav ul li {
	display:inline;
}


.search.field input {
  background-color: #f6f5f5;
  border: solid 1px #cccccc;
  font-size: 60%;
  color:#999999;
  padding:10px;
  min-width: 276px;
  text-align: right;
}

.post.hero {
	min-height:260px;
}

article .post.hero h1.entry-title {
	display:inline-block;
	background-color:#ffffff;
	position:relative;
	padding:5px 15px 5px 10px;
	top:175px;
	box-shadow:5px 5px #388202;	
	-mozbox-box-shadow:5px 5px #388202;	
	-webkit-box-shadow:5px 5px #388202;	
}

.entry-meta {

}

.entry-search {
	margin-bottom:30px;
}



.banner {
	background: url("../images/bg-temas.png") no-repeat scroll 0 0 transparent;
	margin: -2px 0 0 -49px;
	padding: 0 17px;
	min-width:1062px;
	min-height:69px;
}

.fakefooter {
	background-color:#429219;
}

.overlay,
h3.overlayTitle {
	background-color: #388205;
	z-index:10;
	
}

article.overlay {
	background-repeat: no-repeat;
}

.overlay:hover {
	opacity:1;
}

h3.overlayTitle {
	padding:5px;
}

h3.overlayCategory {

	margin:5px;
	padding:0;	
}



h3.overlayCategory a,
h3.overlayTitle a {
	color:#fff;
}

h3.overlayCategory a:hover {
	
}

.overlay .description {
	background-color:#307100;
	width:273px;
	height:243px;
	padding:10px;
	display:block;
	opacity:0;
	
}

.overlay .description:hover {
	opacity:1;
    -webkit-transition: opacity 0.2s cubic-bezier(.64,.84,.59,.18);
     -moz-transition: opacity 0.2s cubic-bezier(0.8,0,1,1);
     -o-transition: opacity 0.2s cubic-bezier(0.8,0,1,1);
     transition: opacity 0.2s cubic-bezier(0.8,0,1,1);
}

.video iframe {
	width:100%;
	height:auto;
	min-height:400px;
}

.twitter {
 
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
